[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
apscheduler = "*"

[requires]
python_version = "3.7"

[scripts]
scrape = "python app.py"
setup = "python setup.py"
